# =========================
# Build Outputs
# =========================
x64/
x86/
Debug/
Release/
Build/
Bin/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.VC.db
*.VC.opendb
*.suo
*.userosscache
*.sln.docstates

# =========================
# Intermediate Files
# =========================
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.lastbuildstate

# =========================
# DirectX / Shader
# =========================
*.cso
*.hlsl~
*.hlsli~

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db